<div class="container" style="height: 600px">
<h2>作品集</h2><br>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>文章标题</th>
            <th>文章分类</th>
            <th>文章作者</th>
            <th>发表时间</th>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
          <tr>
            <td><%= link_to blog.title, blog_path(blog) %></td>
            <td><%= link_to blog.category.try(:name), blog_path(blog) %></td>
            <td><%= link_to blog.author, blog_path(blog) %></td>
            <td><%= blog.created_at.strftime("%Y/%m/%d %I:%M %p") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
