<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Datalab</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="">

<!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->


<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS -->  <link rel="stylesheet" href="assets/bootstrap.min.css" 	type="text/css" media="all">
<!-- Insex-Page.CSS --> <link rel="stylesheet" href="assets/style.css" 				 type="text/css" media="all">

<!-- //Custom-Stylesheet-Links -->

<!-- Fonts -->
<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"	   type="text/css" media="all">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700"			   type="text/css" media="all">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900" type="text/css" media="all"> -->
<!-- //Fonts -->

<!-- Supportive-JavaScript -->
<script src="assets/modernizr.js"></script>
<!-- //Supportive-JavaScript -->

</head>
<!-- //Head -->


<!-- Body -->
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60" >

		<!-- Slider -->

	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    <li data-target="#myCarousel" data-slide-to="4"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active">
	      <img src="images/slide-1.jpg" alt="">
				<div class="carousel-caption">
					<h1>Hello, I am Alexander Li.</h1>
				</div>
	    </div>

	    <div class="item">
	      <img src="images/slide-2.jpg" alt="">
				<div class="carousel-caption">
					<h1>I am a Consultant.</h1>
				</div>
	    </div>

	    <div class="item">
	      <img src="images/slide-3.jpg" alt="">
				<div class="carousel-caption">
					<h1>I am good at data analysis.</h1>
				</div>
	    </div>

	    <div class="item">
	      <img src="images/slide-4.jpg" alt="">
				<div class="carousel-caption">
					<h1>I hope to change the world.</h1>
				</div>
	    </div>

	    <div class="item">
	      <img src="images/slide-5.jpg" alt="">
				<div class="carousel-caption">
					<h1>Check Out My Courses Below.</h1>
				</div>
	    </div>
	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>

		<!-- //Slider -->

	<!-- About -->
	<div class="agileaboutaitsabout">
		<div class="agileaboutaits">
			<div class="container">
				<div class="row">
			    <div class="col-md-4 col-sm-4">
						<h4>风格统一</h4>
						<P>适应一个人的说话方式需要一段时间，我们的课程风格是统一的，您会很快适应。</P>
						<h4>废话少</h4>
						<P>在视频里尽量不说没有必要的废话，直接告诉你想要的内容。节省时间，减轻痛苦。</P>
						<h4>短</h4>
						<P>一个您从来都没听说过的东西，一两个小时以后，您就知道它是什么，能干什么。</P>
					</div>

					<div class="col-md-8 col-sm-8">
						<video autoplay poster="images/posterimage.gif" width="720" controls>
							<source src="https://" type="video/mp4">
							<source src="https://" type="video/ogg">
						</video>
					    <!-- <iframe width="100%" height="480" src="/" frameborder="0" allowfullscreen></iframe> -->
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //About -->

	<!-- Speciality -->
	<div class="w3threespecialityw3ls" id="w3threespecialityw3ls">
		<div class="container">

			<h3>数据分工具</h3>

			<div class="row">
				<div class="col-md-4 col-sm-4">
					<figure>
						<span>
							<img src="images/datalab-1.png" alt="Couture">
						<span>

							<h4 class="tc p20">Python</h4>

					</figure>
				</div>
				<div class="col-md-4 col-sm-4">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/datalab-2.png" alt="Couture">
						</div>

							<h4 class="tc p20">Excel</h4>

					</figure>
				</div>
				<div class="col-md-4 col-sm-4">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/datalab-3.png" alt="Couture">
						</div>

							<h4 class="tc p20">Power Query</h4>

					</figure>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-4">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/datalab-4.png" alt="Couture">
						</div>

							<h4 class="tc p20">Power Pivot</h4>

					</figure>
				</div>
				<div class="col-md-4 col-sm-4">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/datalab-5.png" alt="Couture">
						</div>

							<h4 class="tc p20">Power BI</h4>

					</figure>
				</div>
				<div class="col-md-4 col-sm-4">
					<figure>
						<div class="w3threespecialityw3ls-info">
							<img src="images/datalab-6.png" alt="Couture">
						</div>

							<h4 class="tc p20">Tableau</h4>

					</figure>
				</div>
			</div>
		</div>
	</div>
	<!-- //Speciality -->

	<!-- Progressive-Effects -->
	<div class="progressive-effects" id="skills">
		<div class="container">

			<!-- Skills -->
			<div id="about-us" class="parallax">
				<h3>客户能力提升</h3>

				<div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
						<p class="lead">财务分析</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="90">90%</div>
						</div>
					</div>
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
						<p class="lead">概率统计</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
						</div>
					</div>
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
						<p class="lead">逻辑思维</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="90">90%</div>
						</div>
					</div>
					<div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
						<p class="lead">编程语言</p>
						<div class="progress">
							<div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Skills -->

			<!-- Stats -->
			<div class="stats">
				<h3>数据统计</h3>

				<div class="stats-info">
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-1">
						<div class="stats-img">
							<img src="images/s1.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='7000' data-delay='.5' data-increment=4>700</div>
						<p>满意客户</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-2">
						<div class="stats-img">
							<img src="images/s2.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='170' data-delay='8' data-increment="1">30</div>
						<p>完成项目</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-3">
						<div class="stats-img">
							<img src="images/s3.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='19000' data-delay='.5' data-increment="11">1000</div>
						<p>订阅用户</p>
					</div>
					<div class="col-md-3 col-sm-3 stats-grid stats-grid-4">
						<div class="stats-img">
							<img src="images/s4.png" alt="Corsa Racer">
						</div>
						<div class='numscroller counter numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='8' data-increment="1">9</div>
						<p>获得奖项</p>
					</div>
					<div class="clearfix"></div>
				</div>

			</div>
			<!-- //Stats -->

		</div>
	</div>
	<!-- //Progressive-Effects -->


<div class="w3threespecialityw3ls" id="w3threespecialityw3ls">
	<div class="container tc">
	  <div class="row">
	    <div class="col-sm-4">
	      <h4><strong>证券投资者</strong></h4><br>
	      <img src="images/customer-LADY.jpg" class="img-circle person" alt="">
	      <p>"网站的体验真的太棒了，一直在找能够帮我解决实际问题的网站，在这里能查到我想要的信息，帮我节约了大量时间。"</p>
	    </div>
	    <div class="col-sm-4">
	      <h4><strong>咨询顾问</strong></h4><br>
	      <img src="images/customer-Owen.jpg" class="img-circle person" alt="">
	      <p>“李老师的课浅显易懂，案例非常接地气，上完课很多工作中困扰我很久的问题都迎刃而解。”</p>
	    </div>
	    <div class="col-sm-4">
	      <h4><strong>职业经理人</strong></h4><br>
	      <img src="images/customer-Leonardo.jpg" class="img-circle person" alt="">
	      <p>"了解了作者的成长经历既佩服又激动，作为一名终身学习者，实现多次跨界发展，也给了我极大的勇气，让我明白：学习的最终目的是为了改变。"</p>
	    </div>
	  </div>
	</div>
</div>

	<!-- Custom-JavaScript-File-Links -->

		<!-- Default-JavaScript -->   <script type="text/javascript" src="assets/jquery.min.js"></script>
		<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="assets/bootstrap.min.js"></script>



		<!-- Progressive-Effects-Animation-JavaScript -->
			<script type="text/javascript" src="assets/jquery.inview.min.js"></script>
			<script type="text/javascript" src="assets/wow.min.js"></script>
			<script type="text/javascript" src="assets/mousescroll.js"></script>
			<script type="text/javascript" src="assets/main.js"></script>
		<!-- //Progressive-Effects-Animation-JavaScript -->

		<!-- Stats-Number-Scroller-Animation-JavaScript -->
			<script src="assets/waypoints.min.js"></script>
			<script src="assets/counterup.min.js"></script>
			<script>
				jQuery(document).ready(function( $ ) {
					$('.counter').counterUp({
						delay: 10,
						time: 1000
					});
				});
			</script>
		<!-- //Stats-Number-Scroller-Animation-JavaScript -->

	<!-- //Custom-JavaScript-File-Links -->


</body>
<!-- //Body -->

</html>
