<!DOCTYPE html>
<html lang="en">
<head>
  <title>Echarts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>

  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 600px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-md-3 col-sm-3 sidenav hidden-xs">
      <h2><img src="/images/logo2.png" alt="数据实验室"></h2><hr>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/echarts/echart-1">project 1</a></li>
        <li><a href="/echarts/echart-2">project 2</a></li>
        <li><a href="/echarts/echart-3">project 3</a></li>
        <li class="active"><a href="/echarts/echart-4">project 4</a></li>
      </ul><br>

    </div>

    <div class="col-md-9 col-sm-9">
      <div class="well">
        <!-- <h4>Dashboard</h4> -->

        <div class="container" id="main" style="height: 600px">
        </div>



      </div>

    </div>
  </div>
</div>
</body>
</html>
