<h2> Edit Product </h2>

<%= simple_form_for [:admin, @product] do |f| %>

  <% if @product.photos.present? %>
    <span>目前商品圖</span> <br>
    <% @product.photos.each do |p| %>
      <%= image_tag p.avatar.thumb.url %><br>
    <% end %>
  <% end %>

  <%= render :partial => "form", :locals => { :f => f } %>

  <%= f.submit "Submit", data: { disable_with: "Submitting..." } %>

<% end %>
