<div class="noise very relaxed center">
  <div class="container">
    <div class="description">
      <h2>
        微信支付 介绍
      </h2>
      <p>实现用微信支付功能。</p>
    </div>
  </div>
</div>

<div id="mainbody" class="very relaxed center">
  <div class="container">
    <div class="row">
      <h2>微信支付 目录</h2>

<div class="ui divided items package">

            <div class="item">

  <div class="ui statistic span1">        <div class="value">1</div>  </div>
  <div class="span5">        <div class="header"><a href="/course/5726"><h3>微信支付：开发准备与扫码支付 </h3>
2018-01-30 </a></div>  </div>
  <div class="span2">        <div class="meta"> 57 分</div>  </div>  </div>
    <div class="item">

  <div class="ui statistic span1">        <div class="value">2</div>  </div>
  <div class="span5">        <div class="header"><a href="/course/5760"><h3>微信支付：H5 移动端支付 </h3>
2018-02-04 </a></div>  </div>
  <div class="span2">        <div class="meta"> 36 分</div>  </div>  </div>
    <div class="item">

  <div class="ui statistic span1">        <div class="value">3</div>  </div>
  <div class="span5">        <div class="header"><a href="/course/5780"><h3>微信支付：公众号支付 </h3>
2018-02-25 </a></div>  </div>
  <div class="span2">        <div class="meta"> 22 分</div>  </div>  </div>
    <div class="item">

  <div class="ui statistic span1">        <div class="value">4</div>  </div>
  <div class="span5">        <div class="header"><a href="/course/5794"><h3>微信支付：小程序支付 </h3>
2018-02-28 </a></div>  </div>
  <div class="span2">        <div class="meta"> 20 分</div>  </div>  </div>
