

<hr>
<!-- Footer -->
<div class="footer">
	<div class="container" id="footer">

		<div class="footer-grids">

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-1 address" >
				<h4>关于我们</h4>
					<ul>
            <li class="leaf"><a href="https://github.com/andy2000xyz" title="故事"> 故事</a></li>
            <li class="leaf"><a href="http://user.qzone.qq.com/495145788" title="文档"> 文档</a></li>
					</ul>
			</div>

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-2 address">
				<h4> 社会化网络</h4>
					<ul>
            <li class="leaf"><a href="https://weibo.com/p/1005051411907131" title="新浪微博"><i class="fa fa-weibo"></i> 微博</a></li>
            <li class="leaf"><a href="https://github.com/andy2000xyz" title="Github"><i class="fa fa-github"></i> Github</a></li>
            <li class="leaf"><a href="http://user.qzone.qq.com/495145788" title="QQ"><i class="fa fa-qq"></i> 495145788</a></li>
            <li class="leaf"><a href="#" title="微信"><i class="fa fa-weixin"></i> jianfeng811008</a></li>
					</ul>
			</div>

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-3 email">
				<h4> 联系方式</h4>
					<p>
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
						<a href="495145788@qq.com"> 495145788@qq.com</a>
					</p>
			</div>

			<div class="col-md-3 col-sm-3 footer-grid footer-grid-4 newsletter">
				<h4> 微信公众号</h4>
          <p><img src="https://ws3.sinaimg.cn/large/006tNc79gy1fs1lx902dxj3076076glp.jpg" alt="扫描微信二维码关注甲乙寅卯，每天进步一点" title="扫描微信二维码关注甲乙寅卯" style="width:30%;margin-left:10px"></p>
			</div>

			<div class="clearfix"></div>

		</div>

	</div>
</div>
<!-- //Footer -->

<!-- <footer class="container">
  <section class="first last clearfix">

    <p class="text-center">Copyright ©2018 DataLab
        <br>Design by lijian
    </p>
  </section>
</footer> -->
