<!-- Footer -->
  <footer class="footer ">
    <div class="container">
      <div class="row footer-top">
        <div class="col-md-6 col-lg-6">
          <h4>
            <img src="images/logo2.png">
          </h4>
          <p>我们一直致力于为中小企业及个人提供更多的优质技术文档和辅助开发工具！</p>
        </div>
        <div class="col-md-6  col-lg-5 col-lg-offset-1">
          <div class="row about">
            <div class="col-sm-4">
              <h4>关于</h4>
              <ul class="list-unstyled">
                <li><a href="/about/">关于我们</a></li>
                <li><a href="/ad/">广告合作</a></li>
                <li><a href="/links/">友情链接</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4>联系方式</h4>
              <ul class="list-unstyled">
								<li><a href="mailto:jianfengli1008@gmail.com"><i class="fa fa-envelope"></i> 电子邮件</a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4>社会化网络</h4>
              <ul class="list-unstyled">
                <li><a href="https://weibo.com/p/1005051411907131" title="新浪微博" target="_blank"><i class="fa fa-weibo"></i> 新浪微博</a></li>
                <li><a href="https://github.com/andy2000xyz" title="Github"><i class="fa fa-github"></i> Github</a></li>
								<li><a href="http://user.qzone.qq.com/495145788" title="QQ"><i class="fa fa-qq"></i> 495145788</a></li><br>
								<li><img src="https://ws3.sinaimg.cn/large/006tNc79gy1fs1lx902dxj3076076glp.jpg" alt="扫描微信二维码关注甲乙寅卯，每天进步一点" title="扫描微信二维码关注甲乙寅卯" style="width:75%;margin-left:0"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row footer-bottom">
        <ul class="list-inline text-center">
          <li><a href="http://www.miibeian.gov.cn/" target="_blank">Copyright ©2018 DataLab</a></li><li>Design by lijian</li>
        </ul>
      </div>
    </div>
  </footer>

<!-- //Footer -->
